@media screen and (max-width: 1440px) {
    .header__wrapper {
        max-width: 1140px;
        justify-content: space-between;     
    }
}

@media screen and (max-width: 1024px) {
    .header__wrapper {
        width: 90%;    
    }
    .header__navigation {
        display: none;
    }
    .intro__main {
        display: block;
        margin: 50px 80px 0px 150px;
        text-align: center; 
    }
    .intro__image {
        margin-top: 50px;
        align-items: center;
    }
    .intro__summary {
        max-width: 300px;
        min-height: 500px;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .intro__summary-flex {
        flex-direction: column;
        height: 400px;
    }
    .line {
        display: none;
    }
    .intro__features {
        margin: 90px 0 0 0;
    }
    .plan__title-main {
        margin-top: 50px;
    }
    .plan__description {
        display: none;
    }
    .plan__card {
        height: 350px;
        width: 190px;
    }
    .plan__card-wrapper {
        margin-top: 10px;
    }
    .plan__price-block {
        margin-bottom: 10px;
    }
    .plan__title-second {
        margin-top: 50px;
    }
    .plan__wrapper {
        margin: 0 80px 0 80px;
    }
    .plan__companies {
        display: none;
    }
    .plan__slider-buttons {
        display: none;
    }
    .plan__slider-content {
        flex-direction: column;
        align-items: center;
    }
    .plan__slider-card_white {
        margin: 10px 0 0 0;
    }
    .plan__subscribe {
        max-width: 900px;
        width: 90%;
        margin-top: 50px;
    }
    .plan__subscribe-text {
        margin: 40px 20px;
    }

    .plan__subscribe-title {
        margin: 0;
        text-align: center;
    }
    .plan__subscribe-description {
        text-align: center;
    }
    .footer {
        margin: 40px 0 0 0;
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    .footer__list {
        display: none;
    }
    .footer__list-mobile {
        display: contents;
        margin-bottom: 50px;
    }
    .mobile__flex {
        display: flex;
        justify-content: space-between;
    }
    .footer__logo {
        width: 700px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .footer__logo-subtitle {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .header__wrapper {
        max-width: 700px;
        width: 90%;
        margin-bottom: 100px;
    }
    .header__buttons {
        display: flex;
        flex-direction: column;
    }
    .button__oval_white {
        padding: 10px 40px 10px 40px; 
    }
    .button__oval_white:last-child {
        margin: 10px 0 0 0;
    }
    .intro__main {
        max-width: 700px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .intro__image {
        margin-top: 150px;
        align-items: center;
    }
    .intro__text_description {
        margin-bottom: 30px;
    }
    .intro__summary {
        max-width: 300px;
        height: 500px;
        width: 90%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .intro__summary-flex {
        flex-direction: column;
        height: 400px;
    }
    .line {
        margin: 0 30px 0 30px;
    }
    .intro__features-image {
        display: none;
    }
    .intro__features {
        max-width: 700px;
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .intro__text {
        text-align: center;
    }
    .plan__wrapper {
        margin: 0 10px 0 10px;
    }
    .plan__cards {
        flex-direction: column;
        align-items: center;
    }
    .plan__card {
        width: 220px;
        height: 400px;
        height: 100%;
        margin-bottom: 20px;
    }
    .plan__description {
        display: none;
    }
    .plan__card-wrapper {
        margin-top: 10px;
    }
    .plan__price-block {
        margin-bottom: 10px;
    }
    .plan__title-second {
        margin-top: 50px;
    }
    .plan__companies {
        display: none;
    }
    .plan__slider-buttons {
        display: none;
    }
    .plan__slider-content {
        flex-direction: column;
        align-items: center;
    }
    .plan__slider-card_white {
        margin: 10px 0 0 0;
        max-width: 350px;
        width: 100%;
    }
    .plan__slider-card_red {
        max-width: 350px;
        width: 100%;
    }
    .plan__subscribe {
        max-width: 350px;
        width: 900%;
        margin-top: 50px;
    }
    .plan__subscribe-text {
        margin: 0;
    }
    .plan__subscribe-block {
        flex-direction: column;
    }
    .plan__subscribe-title {
        margin: 0;
        text-align: center;
    }
    .plan__subscribe-description {
        text-align: center;
    }
    .footer__list {
        display: none;
    }
    .footer {
        margin: 40px 0 0 0;
        height: 450px;
        display: flex;
        flex-direction: column;
    }
    .footer__list {
        display: none;
    }
    .footer__list-mobile {
        display: contents;
        margin-bottom: 50px;
    }
    .mobile__flex {
        display: flex;
        justify-content: space-between;
    }
    .footer__logo {
        margin-top: 50px;
        margin: 0 auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__logo-subtitle {
        display: contents;
    }
}



/* @media screen and (max-width: 768px) {
    .header__wrapper {
        max-width: 768px;
        justify-content: space-around;
        align-items: center;
    }
    .button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .button__signin {
        padding: 15px 10px;
    }
    .button__signin {
        margin-right: 0px;
    } */