* {
    box-sizing: border-box;
}

a,
button {
    cursor: pointer;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rubik', 'Arial', sans-serif;
    background: #FFFFFF
}

/* Шрифты текстов */

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
}

h2, .intro__title-text, .plan__title-main, .plan__title-second, .plan__title-third, .plan__subsctibe-title {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}

.header-nav {
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}

.intro__text--description, .intro__paragraph, .intro__text-bullet, .plan__title-description, .plan__description-paragraph, .plan__subscribe-description, .footer__logo-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.intro__content--normaltext {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}

.intro__content--text {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}

.cards-mark {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
}

.plan__name-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.plan__price {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}

.footer-c {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
}

.header-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.plan__country-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.plan__comment-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
}


/* Шрифты кнопок */
.header__button--signin-text {
    font-size: 16px;
}

.header__button--oval-white-text {
    font-size: 16px;
    color: #F53855;
}

.intro__button-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.plan__button--white-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;
}

.plan__button--red-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}


/* BUTTONS стилизация
/** OVAL-buttons**/


/* header*/

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    padding-top: 45px;
}

.header__navigation-ul{
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style-type: none;
    width: 350px;
}

.header__link {
    margin-left: 40px;
    margin-right: 40px;
}


/* MAIN */

/*VPN intro*/
.intro__main {
    display: flex;
    justify-content: space-between;
    margin: 100px 80px 0px 150px;
}

.intro__getstarted{
    margin-top: 30px;
}

.intro__title {
    margin-top: 0;
    margin-bottom: 20px;
}

.intro__main-button-rectangle {
    margin-top: 50px;
}

.intro__summary-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    height: 200px;
    margin: 0 auto;
    background: #FFFFFF;
    margin-top: 103px;
    border-radius: 10px;
}

.intro__summary-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.intro__content {
    display: flex;
    align-items: center;
}

.intro__content-flex {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
}

.line {
    margin-left: 130px;
    margin-right: 100px;
}

.intro__features {
    display: flex;
    justify-content: space-between;
    margin: 95px 150px 0px 185px;
}

.intro__text-flex{
    display: flex;
}

.intro__text-bullet {
    margin: 15px;
}

.intro__title-text {
    margin: 0px;
}

/*MAIN plan*/

.plan__wrapper {
    max-width: 1090px;
    margin-left: 174px;
    margin-right: 176px;
}

.plan__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__title-main {
    margin-top: 207px;
    margin-bottom: 20px;
}

.plan__title-description {
    text-align: center;
    margin-bottom: 60px;
}

.plan__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plan__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 760px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}

.plan__card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.plan__description-point {
    display: flex;
    margin: 0;
}

.plan__description {
    margin-top: 20px;
}

.plan__description-paragraph {
    margin: 10px 0px 10px 25px;
}

.plan__card-title {
    margin: 30px 0px 0px 0px;
}

.plan__price-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.plan__title-second {
    text-align: center;
    margin-top: 150px;
}

.plan__img {
    margin-top: 155px;
}

.plan__companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
